body{
    background-color: #2c2f33;
    color: #dddddd;
}

button{
    background-color: #fee75c;
}

#image{
    width: 600px;
    height: 300px;
    display: block;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 80%; /* Full width */
    background-color: #23272a; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}
